* {
	box-sizing: border-box;
	// disable navigation swiping so page is'nt changed when using "simulated" OrbitControls (i.e. zoom by using window wheel event)
	overscroll-behavior-x: none;
}

html,
body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: $font-family, sans-serif;
	outline: none;
	background: $color-black;
}

.App {
	text-align: center;
}

.App-header {
	position: absolute;
	pointer-events: none;
	min-height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color-white;
	z-index: 1;
}

.canvas-container {
	position: fixed;
	top: 0;
	display: block;
	z-index: 0;
	height: 100%;
	width: 100%;

	canvas {
		display: block;
		height: 100%;
		width: 100%;
		outline: none;
	}
}

.carousel-buttons {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	margin: 15px;

	&.show {
		display: flex;
	}

	.arrow-button {
		background-color: $color-off-white;
		border: none;
		border-radius: 5px;
		color: $color-black;
		cursor: pointer;
		font-size: 30px;
		margin: 0 10px;
		outline: none;
		padding: 10px 20px;
		transition: background-color 0.3s;
	}

	.arrow-button:hover {
		background-color: $color-off-white-hover;
	}
}
